body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(60, 60, 60);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    max-width: 1200px;
}
.hello {
    color: orange;
}
.app div ,.app img{
    vertical-align: top;
}
.app img{
    display: inline-block;
    margin: 2rem;
}
.list-wrapper{
    display: inline-block;
    width: 40%;
    padding: 1rem;
}
.items-list{
}
.items-list div{
    padding: 1rem;
    border-bottom: 1px silver dashed;
}
.items-list div:hover{
    background: rgba(246, 123, 22, 0.04);
}
input{
    padding: 1rem;
    color:rgb(64, 64, 64);
    border-radius: 5px;
    border: 1px solid rgb(218, 218, 218);
    outline: none;
    display: block;
    font-size: 14px;
    margin-left: 1rem;
}
input:focus{
    outline: none;
    border: 1px solid rgb(175, 175, 175);
}

@keyframes fadeout {   
    0%   {opacity: 0; top: 50%; }   
    10%  {opacity: 1; top: 10%; }   
    100% {opacity: 0; top: 0%;  }
}
.messages{
    position: fixed;
    left: 50%;
    top: 10%;
    padding: 1rem 2rem;
    background: rgb(255, 217, 112);
    min-width: 200px;
    border-radius: 5px;
    animation: fadeout 4s ease infinite;
    border: 1px rgb(255, 246, 226) solid;
    font-weight: 600;
}